@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48.3 30% 85%;
    --foreground: 86.3 5% 0%;
    --card: 86.3 30% 90%;
    --card-foreground: 86.3 5% 10%;
    --popover: 86.3 30% 95%;
    --popover-foreground: 86.3 95% 0%;
    --primary: 86.3 69% 22.7%;
    --primary-foreground: 86.3 5% 90%;
    --secondary: 86.3 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 48.3 30% 85%;
    --muted-foreground: 86.3 5% 35%;
    --accent: 48.3 30% 80%;
    --accent-foreground: 86.3 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 86.3 5% 90%;
    --border: 86.3 30% 50%;
    --input: 86.3 30% 18%;
    --ring: 86.3 69% 22.7%;
    --radius: 1.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
